*.lo
*.o
*~
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
examples/.deps/
examples/.libs/
examples/Makefile
examples/Makefile.in
examples/glpsol
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/libglpk.la
stamp-h1
